.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node {
	font: 10px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.header {
	background: darkgrey;
	height: 20px;
	margin-bottom: 1%;
}

.leftbody {
	background: oldlace;
}

.rightbody {
	padding: 1%;
	background: lightgrey;
	font-family: sans-serif;
	font-size: 11px;
}

.tools {
	margin-top: 4%;
	width: 100%;
	padding: 3% 2%;
	background: #B2D1D1;
}

.genreChart {
	width: 100%;
	padding-top: 3%;
	background: oldlace;
}

.footer {
	background: darkgrey;
	height: 20px;
	margin-top: 1%;
}

.bigger {
	font-size: 14px;
	display: inline;
}

.headline {
	color: darkslategrey;
}

.nopadding {
   padding: 1% !important;
   margin: 0 !important;
   width: 100% !important;
   height: 80% !important;
}

input[type=submit] {
   padding: 1px 7px; 
   background:darkslategrey;
   color: white;
   border: 1px;
   cursor: pointer;
   -webkit-border-radius: 1px;
   border-radius: 1px;
}